*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #A9A9A9;
    height: 100px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px 5px grey;
} 



section{
    padding-top: 110px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 110px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    font-size:20px;
}


.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #A9A9A9;
    height: 100px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-top: solid  1px black;
}

